body{
    background-color: burlywood;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    border: 10px solid;
}

/* This a comment */

h1{
    font-weight: bold;
    font-family: fantasy;
    border: 2px solid cornflowerblue;
}

.colorBlue{
    color: rgb(165, 28, 28);
    background-color: aquamarine;
    
}

#mvp{
    color: rgb(31, 29, 172);
    padding: 20px 30px 40px 20px;
    border: 5px dotted;
}

