*{
    margin: 0px;
}

body{
    font-family: sans-serif;
}

footer{
    background-color:rgb(15, 15, 15);
    text-align: center;
    min-height: 50px;
    color: white;
    padding-top: 2%;
}

a{
    text-decoration: none;
    color: rgb(195, 200, 252);
}


footer img{
    max-width: 25px;
    margin-right: 5px;
    margin-left: 30px;
}

header{
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: left;  
    min-height: 80px;
    padding: 18px;
}


/* ID`s */

#nav_container{
    margin: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

#nav_container p{
    margin-left: 2%;
    margin-right: 2%;
}


#section_background_img{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/023/594/606/large/lucas-brentano-8.jpg?1579713370");
    background-size: cover;
    width: 80%;
    height: 96vh;
}

#side_bar{
    background-color: black;
    width: 20%;
    height: 96vh;
    text-align: center;
    color: white;
}

#side_bar p,h3{
    padding-top: 5%;
    padding-right: 12%;
}

/* CLASSES */

.flex_container{
    display: flex;
}

.container_center{
    justify-content: center;
}




