*{
    margin: 0px;
}

footer{
    background-color:rgb(15, 15, 15);
    text-align: center;
    min-height: 50px;
    color: white;
    padding-top: 2%;
}

header{
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: left;  
    min-height: 80px;
    padding: 18px;
}


/* Classes */

#nav_container{
    margin: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

#nav_container p{
    margin-left: 2%;
    margin-right: 2%;
}

#nav_container a{
    text-decoration: none;
    color: rgb(195, 200, 252);
}

#section_background_img{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/023/594/606/large/lucas-brentano-8.jpg?1579713370") ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

