body{
    background-image: url(images/stamp.png);
    background-repeat: repeat;
}

h1{
    color: rgb(85, 163, 194);
}

p{
    color: brown;
}

.center{
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
     
}

.content{
    width: 70%;
    background-color: black;
}

