/* Tags */

header{
    background-color: rgb(245, 245, 245) !important;
}

h1{
    color: rgb(250, 121, 35);
}

footer{
    background-color: rgb(250, 121, 35) !important;
}

footer{
    color: white;
}

footer h4{
    color: white;
}

h4{
    color:rgb(250, 121, 35);
}

p{
    font-weight: bold;
}

img{
    max-height: 150px;
}

a{
    color: white;
}

/* Classes */
.border-t{
    border-top: 2px solid gray;
}

.border-l{
    border-left: 2px solid gray;
}

.border-b{
    border-bottom: 1px solid black;
}

.round{
    border-radius: 50%;
}

.normal{
    font-weight: normal;
}

.button-bg{
    background-color: rgb(16, 8, 37);
    
}

.icon{
    max-height: 40px;
}
