/* Pure Tags */

body{
    font-family: sans-serif;
    font-size: 120%;
}

span{
    color: rgb(23, 94, 70);
}


/* Classes */

.line{
    border: 1px #000000 solid;
    clear: both;
}

.left{
    float: left;
}

.size28{
    font-size: 28px;
}


/* ID's */

#all{
    border: 1px blue solid;
    text-align: center;
    background-color: rgb(98, 158, 138);
}

#profile_pic{
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
}