body{
    background-color: gray;
    font-family: sans-serif;
}

.flex_box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1%;
    padding: 4%;
    background-color: rgba(203, 221, 220, 0.712);
}

.flex_box div{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: aliceblue;
    padding: 5px;
    margin: 8px;
}

.color{
    border-radius: 20px;
    text-align: center;
    background-color: rgb(110, 168, 82);
}

img{
    height: 150px;;
    width: 150px;
}

.p_left{
    text-align: left;
    margin-left: 60px;
    padding-left: 15px;
    font-size: 25px;
}

p{
    margin-left: 60px;
    padding-left: 15px;
    font-size: 25px;
}

li{
    text-align: left;
    margin-left: 60px;
    padding-left: 15px;
    font-size: 25px;
    padding-top: 20px;
}

h2{
    text-align: left;
}

span{
    color: rgb(84, 204, 36);
}

.flex_box div .center{
    display: flex;
    flex-direction: column;
}

.side_division{
    border-left: 5px solid green;
    display: flex;
    flex-direction: column;
}

.top_division{
    border-top: 5px solid green;
}

.div_half{
    max-width: 50%;
    min-width: 50%;
}

.no_list_style{
    list-style-type: none;
}


