*{
    margin: 0px !important;
    padding: 0px !important;
}

/* General Tags */

button{
    transition-duration: 0.35s !important;
    border: none !important;
}


/* Color coding for better testing */

header{
    background-color: rgb(94, 168, 168);
}

section{
    background-color: rgb(129, 66, 66);
}

article{
    
    background-color: rgba(122, 93, 160,0.5);
}

aside{
    background-color: rgba(61, 124, 61,0.7) ;
}

aside button:hover{
    font-size: larger;
    font-weight: bold;
    color: rgb(30, 80, 173) !important;
}

footer{
    background-color: rgb(150, 134, 48);
}

footer button{
    margin-left: 1% !important;
    padding: 4px !important;
    border: none;
    border-radius: 14%;
}

/* ID's */

#warning{
    color: rgb(141, 27, 27);
}
