*{
    margin: 0px !important;
    padding: 0px !important;
}

/* General Tags */

body{
    background-color: white;
}

button{
    transition-duration: 0.2s !important;
    border: none !important;
}

img{
    max-height: 300px !important;
    transition-duration: 0.6s !important;
}

img:hover{
    max-height: 420px !important;
    box-shadow: 10px 10px 20px rgba(68, 65, 65, 0.7);
}


/* Color coding for better testing */

header{
    /* background-color: rgb(94, 168, 168); */
    background-color: rgb(148, 224, 214);
}

section{
    /* background-color: rgb(129, 66, 66); */
}

article{
    
    /* background-color: rgba(122, 93, 160,0.5); */
}

aside{
    /* background-color: rgba(61, 124, 61,0.7) ; */
    background-color: rgba(148, 224, 214,0.8)
}

aside button:focus{
    outline: none;
}

aside button{
    background-color: transparent;
    outline: none;
    overflow: hidden;
    border: none;
}


aside button:hover{
    font-size: larger;
    font-weight: bold;
    color: rgb(30, 80, 173) !important;
}

footer{
    /* background-color: rgb(150, 134, 48); */
    background-color: rgb(148, 224, 214)
}

footer button{
    margin-left: 1% !important;
    padding: 4px !important;
    border: none;
    border-radius: 14%;
}

/* Classes */



.screen{
    min-height: 100vh;
}

.recipe_num{
    color: rgb(45, 47, 165) ;
    font-weight: bold;
}
