*{
    margin: 0px !important;
    padding: 0px !important;
}

/* General Tags */

button{
    transition-duration: 0.2s !important;
    border: none !important;
}

img{
    max-height: 300px !important;
    transition-duration: 0.6s !important;
}

img:hover{
    max-height: 420px !important;
    box-shadow: 10px 10px 20px rgba(68, 65, 65, 0.7);
}

aside button:focus{
    outline: none;
}

aside button{
    background-color: transparent;
    outline: none;
    overflow: hidden;
    border: none;
}

footer button{
    margin-left: 1% !important;
    padding: 4px !important;
    border: none;
    border-radius: 14%;
    background-color: transparent;
}

/* Classes */
.screen{
    min-height: 100vh;
}

/* Light Theme colors */
.light{
    background-color: white;
    color: black !important;
}

.light aside,
.light header,
.light footer{
    background-color: rgb(236, 236, 236);
    border-color: rgba(0, 0, 0,0.3)!important;
}

.light section{
    background-color: rgba(236, 236, 236,0.45);
}

.light button{
    color: black;
}

.light footer button{
    background-color: rgba(78, 81, 255,0.45);
}

.light aside button:hover{
    font-size: larger;
    font-weight: bold;
    color: rgb(78, 81, 255) !important;
}

.light  .recipe_num{
    color: rgb(78, 81, 255) ;
    font-weight: bold;
}

/* Dark Theme colors */
.dark{
    background-color: rgba(63, 60, 71,0.9);
    color: rgb(243, 243, 243) !important;
}

.dark aside,
.dark header,
.dark footer{
    background-color: rgb(63, 60, 71);
}

.dark section{
    background-color: rgba(63, 60, 71,0.5);
}

.dark button{
    color: white;

}
.dark .recipe_num{
    color: rgb(121, 123, 255) ;
    font-weight: bold;
}

.dark footer button{
    background-color: rgb(121, 123, 255);
}

.dark aside button:hover{
    font-size: larger;
    font-weight: bold;
    color: rgb(121, 123, 255)  !important;
}



