/* TAG's styles */

body{
    background-color: rgb(207, 207, 207);
    margin: 0px;
    font-family: sans-serif;   
}

tr, th, td, table{
    border: 1px black solid;
}

/* Classes Styles */

.header{
    background-color: rgb(47, 101, 151);
    padding-left: 0.8%;
    padding-top: 0.5%; 
    padding-bottom: 0px;
    margin: 0px;
    min-height: 140px;
}

.header h1{
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke
}

.line{
    border: 1px black solid;
    clear: both;
}

.tableMargin{
    margin-left: 10%;
    width: 80%;
}

.ball{
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    float: left;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.gray{
    background-color: gray;
}


/* ID's Styles */

#all{
    text-align: center;
}

#title{
    text-align: left;
}

#mainBox{
    padding-top: 1.5%;
    background-color: white;
    margin-left: 10%;
    width: 80%;
    height: 100%;
}

#mainBox div > h2{
    color: rgb(18, 78, 134);
    text-align: left;
    padding-left: 0.9%;
    padding-top: 0.5%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#mainBox div > h3{
    color: rgb(18, 78, 134);
    text-align: left;
    padding-left: 2.5%;
    margin-top: 0.7%;
    margin-bottom: 0px;
}